.contentCollectionPage {
    display: grid;
    height: 93vh;
    grid-gap: 10px;
    background-color: pink;
    grid-template-columns: 1f 1fr 1fr;
    grid-template-areas: "collectionContent1 collectionContent2 collectionContent3"
}

.content {
    grid-area: content;
}

.collectionContent1 {
    grid-area: collectionContent1;
}

.collectionContent2 {
    grid-area: collectionContent2;
}

.collectionContent3 {
    grid-area: collectionContent3;
}