.contentSearchPage {
    display: grid;
    height: 93vh;
    grid-gap: 10px;
    grid-template-columns: 300px 3fr 2fr;
    grid-template-rows: 1fr 80px;
    grid-template-areas: "content1 content2 content3" "footer footer footer";
}

.content1 {
    grid-area: content1;
}

.content2 {
    overflow: auto;
    max-height: 83vh;
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.footer {
    grid-area: footer;
}