
:root {
    --color-brown: #ebdbb2;
    --color-background: #eeeeec;
    --color-font-fg: black;
    --color-header: #283f51;
    --color-background-two: lightgrey;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--color-font-fg);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
    background-color: var(--color-background);
}

input {
   background: transparent;
   border: 0px solid black;
   border-bottom: 2px solid #3c3836;
   outline: none;
}

input:focus {
  
}

p {
    color: var(--color-font-fg);
}

h2 {
    color: var(--color-font-fg);
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    color: var(--color-font-fg);
    margin-top: 0px;
    margin-bottom: 0px;
}


.fullHeight {
    height: 100%;
}

.header {
    grid-area: header;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: "header" "content";
    min-height: 100vh;
}

.box {
    border: 2px solid #3c3836;
    border-radius: 5px;
}


.icon24 {
   width: 24px;
   height: 24px;
}


.scrollable {
    max-height: 83vh;
    overflow: auto;
}

label {
    color: var(--color-font-fg);
    font-size: 80%;
}

button {
    background-image: linear-gradient(to bottom, #647a9c, var(--color-header));
    border-radius: 5px;
    text-shadow: 1px 1px 0px #000000;
    color: var(--color-background);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: 1px solid black;
}

button:hover {
    background-image: linear-gradient(to bottom, #436291, #41637a);
    text-decoration: none;
}


button:focus {
    outline: none;
}


::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: white;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border: 1px solid black;*/
    background-color: #3c3836;
}
